<a href="https://colab.research.google.com/github/InesCardinot/DataScience/blob/main/Aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Aula 2**

 Importando a biblioteca pandas

In [23]:
import pandas as pd

Dando o nome planilha para o código abaixo.

In [59]:
planilha = pd.read_excel ('/content/controle_da_empresa.xlsx')

Carregando primeira aba da planilha do excel pelo phyton com o nome ''planilha''

In [55]:
planilha

   Código                 Item  ...  Unidade de Medida  Estoque Atual
0  SIG001     Canon 6D Mark II  ...            Unidade             13
1  SIG002    Canon 5D Mark III  ...            Unidade              1
2  SIG003     Lente 85mm f/1.4  ...            Unidade              6
3  SIG004     Lente 50mm f/1.4  ...            Unidade             10
4  SIG005  Lente 16-35mm f/2.8  ...            Unidade             11
5  SIG006     Filtro ND 2 Stop  ...            Unidade             20
6  SIG007     Filtro ND 3 Stop  ...            Unidade             21
7  SIG008     Filtro ND 5 Stop  ...            Unidade             18
8  SIG009      DJI Mavic Air 2  ...            Unidade              2
9  SIG010          DJI Ronin-S  ...            Unidade              1

[10 rows x 7 columns]

In [57]:
planilha ['Estoque Atual']

0    13
1     1
2     6
3    10
4    11
5    20
6    21
7    18
8     2
9     1
Name: Estoque Atual, dtype: int64

**Manipulando dados de planilha de vendas**

In [58]:
planilha ['Estoque Atual'].sum ()

103

Importando a planilha com todas as abas do Excel

In [61]:
pd.read_excel('/content/controle_da_empresa.xlsx', None)

{'Estoque':    Código                 Item  ...  Unidade de Medida  Estoque Atual
 0  SIG001     Canon 6D Mark II  ...            Unidade             13
 1  SIG002    Canon 5D Mark III  ...            Unidade              1
 2  SIG003     Lente 85mm f/1.4  ...            Unidade              6
 3  SIG004     Lente 50mm f/1.4  ...            Unidade             10
 4  SIG005  Lente 16-35mm f/2.8  ...            Unidade             11
 5  SIG006     Filtro ND 2 Stop  ...            Unidade             20
 6  SIG007     Filtro ND 3 Stop  ...            Unidade             21
 7  SIG008     Filtro ND 5 Stop  ...            Unidade             18
 8  SIG009      DJI Mavic Air 2  ...            Unidade              2
 9  SIG010          DJI Ronin-S  ...            Unidade              1

 [10 rows x 7 columns], 'Funcionários':   Funcionário  Total de Vendas
 0      Carlos           205301
 1    Fernanda           204982
 2        Theo           272816
 3      Raquel           172700, 'Vendas':    Data da Venda                 Item  ...  Preço Unitário Total de Vendas
 0     2020-01-02     Lente 50mm f/1.4  ...            1649            3298
 1     2020-01-02     Filtro ND 5 Stop  ...            1220            2440
 2     2020-01-03     Filtro ND 5 Stop  ...            1220            2440
 3     2020-01-03  Lente 16-35mm f/2.8  ...            8997           17994
 4     2020-01-04  Lente 16-35mm f/2.8  ...            8997           17994
 ..           ...                  ...  ...             ...             ...
 85    2020-01-29     Filtro ND 5 Stop  ...            1220            2440
 86    2020-01-29  Lente 16-35mm f/2.8  ...            8997           17994
 87    2020-01-29     Filtro ND 2 Stop  ...            1220            1220
 88    2020-01-30     Filtro ND 3 Stop  ...            1220            2440
 89    2020-01-30     Filtro ND 5 Stop  ...            1220            2440

 [90 rows x 6 columns]}

In [64]:
planilha = pd.read_excel('/content/controle_da_empresa.xlsx', None)

In [65]:
planilha ['Vendas']

   Data da Venda                 Item  ...  Preço Unitário Total de Vendas
0     2020-01-02     Lente 50mm f/1.4  ...            1649            3298
1     2020-01-02     Filtro ND 5 Stop  ...            1220            2440
2     2020-01-03     Filtro ND 5 Stop  ...            1220            2440
3     2020-01-03  Lente 16-35mm f/2.8  ...            8997           17994
4     2020-01-04  Lente 16-35mm f/2.8  ...            8997           17994
..           ...                  ...  ...             ...             ...
85    2020-01-29     Filtro ND 5 Stop  ...            1220            2440
86    2020-01-29  Lente 16-35mm f/2.8  ...            8997           17994
87    2020-01-29     Filtro ND 2 Stop  ...            1220            1220
88    2020-01-30     Filtro ND 3 Stop  ...            1220            2440
89    2020-01-30     Filtro ND 5 Stop  ...            1220            2440

[90 rows x 6 columns]

In [72]:
planilha ['Vendas'] ['Total de Vendas']

0      3298
1      2440
2      2440
3     17994
4     17994
      ...
85     2440
86    17994
87     1220
88     2440
89     2440
Name: Total de Vendas, Length: 90, dtype: int64

In [73]:
planilha ['Vendas'] ['Total de Vendas'] .sum ()

855799

In [66]:
planilha ['Funcionários']

  Funcionário  Total de Vendas
0      Carlos           205301
1    Fernanda           204982
2        Theo           272816
3      Raquel           172700

In [74]:
planilha ['Funcionários'] ['Total de Vendas']

0    205301
1    204982
2    272816
3    172700
Name: Total de Vendas, dtype: int64

In [75]:
planilha ['Funcionários'] ['Total de Vendas'] .sum ()

855799

In [67]:
planilha ['Estoque']

   Código                 Item  ...  Unidade de Medida  Estoque Atual
0  SIG001     Canon 6D Mark II  ...            Unidade             13
1  SIG002    Canon 5D Mark III  ...            Unidade              1
2  SIG003     Lente 85mm f/1.4  ...            Unidade              6
3  SIG004     Lente 50mm f/1.4  ...            Unidade             10
4  SIG005  Lente 16-35mm f/2.8  ...            Unidade             11
5  SIG006     Filtro ND 2 Stop  ...            Unidade             20
6  SIG007     Filtro ND 3 Stop  ...            Unidade             21
7  SIG008     Filtro ND 5 Stop  ...            Unidade             18
8  SIG009      DJI Mavic Air 2  ...            Unidade              2
9  SIG010          DJI Ronin-S  ...            Unidade              1

[10 rows x 7 columns]

In [68]:
planilha ['Estoque'] ['Estoque Atual']

0    13
1     1
2     6
3    10
4    11
5    20
6    21
7    18
8     2
9     1
Name: Estoque Atual, dtype: int64

In [76]:
planilha ['Estoque'] ['Estoque Atual'] . sum ()

103